// Color Palette
$burnt-sienna: #ef5350;
$celery: #9ccc65;
$dodger-blue: #29B6F6;
$french-rose: #ec407a;
$outer-space: #263238;
$white: #ffffff;

// Styling
$base-gutter: 1em;
$base-spacing: 0.2em;
$base-rhythm: 1.7rem ;
$main-font: 'Source Sans Pro', sans-serif;