h1, h2, h3, h4, h5, h6 {
  font-weight: 700 ;
  margin-bottom: $base-rhythm;
}

h1 { font-size: 2.027rem; line-height: $base-rhythm*2; }
h2 { font-size: 1.802rem; line-height: $base-rhythm*2; }
h3 { font-size: 1.602rem; line-height: $base-rhythm*2; }
h4 { font-size: 1.424rem; line-height: $base-rhythm; }
h5 { font-size: 1.266rem; line-height: $base-rhythm; }
h6 { font-size: 1.125rem; line-height: $base-rhythm; }

p {
  margin-bottom: $base-rhythm;
  a {
    color: $dodger-blue;
    text-decoration: underline;
  }
  i, em {
    font-style: italic;
  }
  bold, strong {
    font-weight: 700;
  }
}

blockquote {
  background: lighten($outer-space, 72%);
  font-style: italic;
  padding: $base-rhythm;
  margin-bottom: $base-rhythm;
  p {
    &:last-child {
      margin: 0;
    }
  }
}

.wrapper,
.container {
  ol { list-style: upper-roman; }
  ul { list-style: disc; }
  ol, ul {
    margin: 0 0 $base-rhythm $base-rhythm;
    li {
      display: list-item
    }
  }
}